$primary-color: #DDC661;
$primary-color-hover: #bfaa50;
$secondary-color: #25282B;
$secondary-color-hover: #1c1e20;
$text-color: #333333;
$grey: #f4f4f9;
$white: #ffffff;
$black: #000000;
$spacing-unit: 8px;
$dropdown-item-height: 40px;
