@use "../config/mixins.module.scss" as mixins;

.grid {
  display: grid;
  gap: 16px;
  align-items: start;
  width: 100%;
}

.grid-columns-4 {
  @include mixins.responsive-grid(
    1fr,
    repeat(2, 1fr),
    repeat(3, 1fr),
    repeat(4, 1fr)
  );
}

.grid-columns-3 {
  @include mixins.responsive-grid(
    1fr,
    repeat(2, 1fr),
    repeat(3, 1fr),
    repeat(3, 1fr)
  );
}

.grid-columns-2 {
  @include mixins.responsive-grid(
    1fr,
    repeat(2, 1fr),
    repeat(2, 1fr),
    repeat(2, 1fr)
  );
}

.grid-columns-1 {
  grid-template-columns: 1fr;
}
